<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylkj.springbootswagger.dao.CustomerDao">

    <resultMap id="BaseResultMap" type="com.ylkj.springbootswagger.pojo.Customer">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="cname" jdbcType="VARCHAR" property="cname"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="birthday" jdbcType="VARCHAR" property="birthday"/>
    </resultMap>

    <select id="selectCustomerById" resultMap="BaseResultMap">
        select
            *
        from
            customer
        where
            id = #{id}
    </select>

</mapper>